.Navi {
    display: flex;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
}

.Navi .a a {
    font-size: 25px;
    padding: 5px 20px;
    text-decoration: none;
    color: black;
    display: block; /* 전체 영역 클릭 가능 */
    text-align: center;
    border-radius: 10px; /* radius 적용 */
}

.Navi .a a:hover {
    background-color: rgb(32, 107, 126);
    color: white;
}

.Navi .action a {
    background-color: rgb(32, 107, 126);
    color: white;
}
