.Write {
  display: flex;          
  margin: 20px 0;          
justify-content: flex-end;
}

.Write a {
  font-size: 20px;               
  padding: 10px 25px;            
  text-decoration: none;          
  color: white;                  
  background-color: #20716e;      
  display: block;                 
  text-align: center;
  border-radius: 8px;            
  transition: 0.3s;              
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.Write a:hover {
  background-color: #32ab9e;      
  color: white;
  transform: translateY(-2px);   
}